body{
    background: white;
}

main{
    margin: 100px 0px;
}

/* br */
br{
    margin-bottom: 20px;
}

.about-section-divider{
    margin-bottom: 40px;
}

/* h1 text */
main h2{
    display: block;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding: 20px;
}

/* box */
.box-wrapper{
    display: grid;
    padding: 20px;
    margin: 0 auto;
}

.contact-us{
    display: grid;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.box-wrapper h3{
    display: block;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.box-wrapper p{
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 35px;
}

@media only screen and (min-width: 700px){

    .contact-us{
        display: block;
        max-width: 800px;
        height: 550px;
        margin: 0 auto;
    }
}