.page-divider{
    padding-bottom: 20px;
}

/* Background image */
.bg-image{
	position: fixed;
	background: white url('../img/dual-chart-photo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 3000px;
	z-index: -1;
	opacity: 0.5;
}

/* Page heading text */
.port-heading{
    display: grid;
    justify-content: center;
}

.port-heading h2{
    font-family: "Lato";
    font-size: 35px;
    font-weight: 500;
    text-shadow: 2px 2px 2px white;
    padding: 10px 0px;
}

.stock-list{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    margin: 20px;
    justify-content: center;
}

.stock-container{
    display: grid;
    background-color: black;opacity: 0.9;
    height: 200px;
    justify-content: center;
    padding: 10px 0px;
}

.stock-container h2{
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300px;
    color: white;
}

.stock-container h3{
    font-family: "Lato";
    font-size: 15px;
    font-weight: 300px;
    color: white;
}

/* Watchlist section */
.watchlists-grid{
    display: grid;
    grid-gap: 20px;
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    margin: 0px 20px 20px 20px;
    justify-content: center;
    padding-bottom: 20px;
    grid-template-areas:
    'investment-watchlist'
    'trading-watchlist';
}

/* Investing watchlist div container */
.investment-watchlist{
    grid-area: investment-watchlist;
    display: block;
    height: 450px;
    grid-template-columns: 300px;
    background-color: black; opacity: .9;
    padding: 20px 100px;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}

.investment-watchlist h2{
    display: block;
    text-align: center;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
}

.watchlist-invest-stock{
    padding: 10px;
}

.watchlist-invest-stock h3{
    font-family: "Lato";
    font-size: 15px;
    font-weight: 300px;
    color: white;
}
.watchlist-invest-stock h4{
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300px;
    color: white;
}

/* Investing watchlist div container */
.trading-watchlist{
    grid-area: trading-watchlist;
    display: block;
    height: 450px;
    grid-template-columns: 300px;
    background-color: black; opacity: .9;
    padding: 20px 100px;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}

.trading-watchlist h2{
    display: block;
    text-align: center;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding-bottom: 20px;
}

.watchlist-trade-stock{
    padding: 10px;
}

.watchlist-trade-stock h3{
    font-family: "Lato";
    font-size: 15px;
    font-weight: 300px;
    color: white;
}
.watchlist-trade-stock h4{
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300px;
    color: white;
}


@media only screen and (min-width: 1000px){
    .stock-list{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(5, 1fr);
        margin: 20px;
        justify-content: center;
    }

    /* Watchlist section */
    .watchlists-grid{
        display: grid;
        grid-gap: 20px;
        height: 600px;
        grid-template-columns: repeat(2, 500px);
        margin: 0px 20px 20px 20px;
        justify-content: center;
        grid-template-areas:
        'investment-watchlist trading-watchlist';
    }

    /* Investing watchlist div container */
    .investment-watchlist{
        grid-area: investment-watchlist;
        display: block;
        height: auto;
        grid-template-columns: 300px;
        background-color: black; opacity: .9;
        padding: 20px 100px;
        justify-content: center;
        overflow: scroll;
        overflow-x: hidden;
    }

    .trading-watchlist{
        grid-area: trading-watchlist;
        display: block;
        height: auto;
        grid-template-columns: 300px;
        background-color: black; opacity: .9;
        padding: 20px 100px;
        justify-content: center;
        overflow: scroll;
        overflow-x: hidden;
    }
}