.wrapper{
    display: block;
    width: 90%;
    margin: 0 auto;
}

.resources{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    margin: 40px 0px;
    /* Add color to the background of the grid and adjust for desktop version of the page */
}

.resource-info{
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    border-radius: 5px;
    border: black 1px solid;
}

.resource-description{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.resource-description h3{
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300px;
    color: black;
}

.resource-description p{
    font-family: "Georgia";
    font-size: 15px;
    padding-top: 10px;
    color: black;
}

.resource-info img{
    display: none;
}

@media only screen and (min-width: 1000px){
    .resource-info{
        display: grid;
        height: 160px;
        width: 800px;
        grid-template-columns: 1fr 250px;
        border-radius: 5px;
        border: black 1px solid;
        margin: 0 auto;
    }
    
    .resource-description{
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
    }
    
    .resource-info img{
        display: block;
        width: 100%;
        height: 100%;
    }
}