main{
    height: 900px;
}

.wrapper{
    display: block;
    width: 800px;
    margin: 0 auto;
}

.support-text{
    display: flex;
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

.support-text h3{
    font-family: "Lato";
    font-size: 30px;
    font-weight: 500px;
    margin: 0 auto;
    padding-top: 30px;
}

.support-content{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding-bottom: 20px;
}

.support-content h4{
    font-family: "Lato";
    font-size: 20px;
    font-weight: 300px;
    padding-bottom: 10px;
}

.support-content ul{
    font-family: "Georgia";
    font-size: 18px;
    line-height: 35px;
    padding-left: 0;
}

.support-content ul > li{
    margin-left: 15px;
}

.support-content ul > li::before{
    content: "- ";
    margin-left: -9px;
}

.support-button-container{
    display: block;
    width: 800px;
    height: 200px;
    border: black 1px solid;
}

.support-button-container h4{
    font-family: "Georgia";
    font-size: 25px;
    padding: 40px 0px 10px 20px;
}

.support-button-container p{
    font-family: "Georgia";
    font-size: 18px;
    padding: 0px 0px 20px 20px;
}

.support-button{
    padding-left: 20px;
}