/*CSS Variables*/

:root{
	--primary: #ddd;
	--dark: #181818;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
	box-sizing: border-box;
	font-family: "GeosansLight", Arial, sans-serif;
	color: white;
}

body{
	background: #dcdcdc;
	margin: 30px 50px;
	line-height: 1.4;
}

i{
	padding: 10px 0px;
	color: black;
}

.btn{
	background-color: var(--dark);
	color: white;
	padding: 0.6rem 1.3rem;
	font-family: Arial;
	text-decoration: none;
	letter-spacing: 1px;
	border: 0;
}

img{
	width: 100%;
}

.wrapper{
	display: grid;
	grid-gap: 20px;
}

/*Header logo*/
.logo{
	display: flex;
	width: 250px;
	height: 150px;
	margin: 0 auto;
}

/*Navigation*/
.navigation ul{
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: 1fr;
}

.navigation a{
	background-color: var(--dark);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 1.1rem;
	color: white;
	letter-spacing: 5px;
	box-shadow: var(--shadow);
}

.navigation a:hover{
	background-color: var(--primary);
	color: var(--dark);
}

/*Main Container*/
.main-container{
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
		'main-box'
		'podcast'
		'newsletter';
}

.main-box{
	grid-area: main-box;
	min-height: 400px;
	background: url(img/header-img2.png);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	box-shadow: var(--shadow);
}

.main-box h1{
	font-size: 2.2rem;
	margin: 0;
	padding-bottom: 10px;
	color: white;
	font-weight: 500;
	text-shadow: var(--shadow);
	text-decoration: underline;
}

.main-box p{
	font-size: 1.5rem;
	margin: 0;
	color: white;
	text-shadow: var(--shadow);
}

.side-box{
	background-color: var(--primary);
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: var(--shadow);
	padding: 1.4rem;
}

.podcast{
	grid-area: podcast;
}

.podcast h2{
	font-family: GeosansLight;
	font-weight: 500;
	color: var(--dark);
}

.newsletter{
	grid-area: newsletter;
}

.newsletter h2{
	font-family: GeosansLight;
	font-weight: 500;
	color: var(--dark);
}

.media{
	background-color: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 1.4rem 2rem;
	grid-template-columns: 1fr;
	padding: 3rem;
	justify-items: center;
}

.media h2{
	font-size: 1.2rem;
	color: var(--dark);
	margin-top: 0;
	font-weight: 500;
}

footer{
	margin-top: 2rem;
	background-color: var(--dark);
	text-align: center;
	padding: 1rem
}

footer i{
	padding: 0px 2px;
	color: white;
}